html {
    font-size: 50%;
    background-color: #fafbfd;
    max-width: 100% !important;
    width: 100% !important;
    margin: 0;
}

.cards {
    font-family: 'Montserrat', sans-serif;
    margin-top: 3.5%;
    margin-left: 3.5%;
    margin-right: 3.5%;
    margin-bottom: 1.0%;
    text-align: center;
}

.card-left {
    border-radius: 5px;
    background-color: #007482;
}

.card-middle {
    border-radius: 5px;
    background-color: #ec7024;
}

.card-right {
    border-radius: 5px;
    background-color: #053248;
}

.card-top {
    text-align: center;
    padding: .5rem;
    font-size: 2rem;
    font-weight: bold;
}

.card-mid {
    text-align: center;
    padding: .5rem;
    font-size: 7rem;
    font-weight: bold;
}

.card-bot {
    text-align: center;
    padding: .5rem;
    font-size: 3rem;
    font-weight: normal;
}