@media (max-width: 769px) {
    .iframe-adjust {
        height: 3850px;
    }
}

@media (max-width: 982px) and (min-width: 770px) {
    .iframe-adjust {
        height: 4400px;
    }
}

@media (min-width: 981px) {
    .iframe-adjust {
        height: 2700px;
    }
}